{% extends "main/layout.html" %}

{% block content %}
    <div class="user-photo-circle-profile">
        {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="Фото профиля">
        {% else %}
            <p>Изображение профиля не загружено.</p>
        {% endif %}
    </div>
    <div class="user-info">
        <h2>Профиль пользователя: {{ user.username }}</h2>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.profile.date_of_birth }}</p>
    </div>


    <div class="posts">
        {% if user_posts.count > 0 %}
            <p>Количество постов: {{ user_posts.count }}</p>
            {% for post in user_posts %}
                <h2 class="post-title">
                    <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                </h2>
                <p class="post-details">
                    Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|truncatewords:30|linebreaks }}


                <div class="heart">
                    <span class="like-count" data-post-id="{{ post.id }}">{{ post.likes.count }}</span> likes
                    <div class="likers-list" style="display: none;"></div>

                    <form method="post" action="{% url 'blog:toggle_post_like' post.id %}">
                        {% csrf_token %}
                        <button class="heart" type="submit">
                            {% if user in post.likes.all %}
                                Убрать лайк
                            {% else %}
                                Поставить лайк
                            {% endif %}
                        </button>
                    </form>
                </div>

                <form class="transparent-form" method="post" action="{% url 'blog:add_comment' post.id %}">
                    {% csrf_token %}
                    {{ form.body_comment.label_tag }} {{ form.body_comment }}
                    <button type="submit" class="submit-button publish-button">Опубликовать</button>
                </form>

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var commentForms = document.querySelectorAll('.transparent-form');

                        commentForms.forEach(function(form) {
                            var commentField = form.querySelector('textarea');
                            var publishButton = form.querySelector('.publish-button');

                            // Функция для отображения/скрытия кнопки "Опубликовать"
                            function togglePublishButton() {
                                if (commentField.value.trim() !== '') {
                                    publishButton.style.display = 'inline'; // Показываем кнопку
                                } else {
                                    publishButton.style.display = 'none'; // Скрываем кнопку
                                }
                            }

                            // Следим за изменениями в текстовом поле
                            commentField.addEventListener('input', togglePublishButton);

                            // Инициализация состояния кнопки при загрузке страницы
                            togglePublishButton();
                        });
                    });
                </script>

                {% if form.errors %}
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            <!-- Показываем комментарии к постам -->
                {% for comment in post.post_comment.all %}
                    {% include 'blog/post/comment.html' %}
                {% empty %}
                    <p>Пока нет комментариев.</p>
                {% endfor %}
            {% endfor %}
        {% else %}
            <!-- Сообщение, когда у пользователя нет постов -->
            <p>Пользователь пока не опубликовал постов.</p>
        {% endif %}
    </div>

{% endblock %}
