body {
    background: #F8F8F8;
}

.textarea {
    width: 100%;
    max-width: 400px; /* Максимальная ширина, если это нужно */
    height: auto;
    min-height: 30px; /* Минимальная высота, когда нет текста */
    resize: vertical; /* Разрешить увеличиваться только по вертикали */
}

/* Стили для круглого фото пользователя */
.user-photo-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    margin-right: 10px; /* Отступ между фото и текстом поста */
    float: left; /* Выравнивание элементов по левому краю */
}
.user-photo-circle-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    margin-right: 20px; /* Отступ между фото и текстом поста */
    float: left; /* Выравнивание элементов по левому краю */
}

.comment .user-photo-circle {
    width: 25px;
    height: 25px;
    overflow: hidden; /* обрезать изображение, если оно больше контейнера */
    display: inline-block; /* чтобы убедиться, что div подстроится под размер изображения */
}

.user-photo-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    float: left; /* Выравнивание элемента по левому краю */
    max-width: 60%; /* Максимальная ширина текстового блока */
    position: relative;
}
.posts {
    clear: both;
    margin-top: 20%;
    position: absolute;
    margin-bottom: 300px;
}

.posts .transparent-form {
    margin-bottom: 2%; /* Отступ между формами комментариев и постами */
}

.comment {
    margin-bottom: 5%; /* Отступ между комментариями */
    margin-right: 3%;
    color: #949494; /* размер шрифта информации о публикации комментария */
    font-size: 14px;
    margin-left: -35%; /* Левый отступ для уравновешивания ширины aside */
    width: 80%;
}

.post-title a {
    color: #090909;
}

.post-title a:hover {
    color: #949494;
    transform: scale(1.05);
}

.post-details {
    color: #949494;
    font-size: 12px;
}

.body_comment {
    color: #090909;
}

.transparent-form input[type="text"],

.transparent-form textarea {
    border: none; /* Убираем рамку у текстовых полей и текстовых областей */
    outline: none; /* Убираем обводку при фокусе */
    background-color: #F8F8F8;
    resize: none;
    max-width: 400px;
}

.transparent-form button {
    display: none;
    background: none; /* Убираем фон */
    color: #000; /* Цвет текста */
    border: none;
    padding: 0;
    font-size: 18px;
}

.transparent-form button:hover {
    color: #949494;
}

.post {
    margin-bottom: 66px;
    margin-right: 3%;
    width: 80%;
}


main {
    margin: 30px 10% 30px 24%;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: #F8F8F8;
    width: 14%;
    height: 100vh;
    border-right: 1px solid #C0C0C0;
    line-height: 45px;
    font-size: 20px;
    margin-left: 3%;
}



aside .logo {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 3%;
    color: #090909
}

aside ul {list-style: none}

ul.navigation {
    margin-top: 25%;
}

aside ul li.logout {
    position: absolute;
    bottom: 5%;
}

aside ul li {
    color: #090909;
    display: block;
    margin-top: 5px;
    transition: transform .6s ease;
}

a {
    text-decoration: none;
    color: #949494
}

a:hover {
    color: #090909
}

aside ul li:hover, aside ul a:hover {
    color: #949494;
    transform: scale(1.05);
}





